﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="876" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <p class="ChapterNumber">7</p>
        <h1 MadCap:autonum="1. &#160;">Upgrading S3 Connector</h1>
        <p style="text-align: left;">The <MadCap:variable name="S3 Connector Variables.ComponentName" /> software version can be upgraded using the same Federation playbooks used for the initial deployment of the S3 Connector. As described in Modifying the Inventory Files in this guide, Federation uses the Inventory file as the basis for deploying the <MadCap:variable name="S3 Connector Variables.ComponentName" /> containers to the specified target machines in the environment. The same mechanism is used to upgrade the <MadCap:variable name="S3 Connector Variables.ComponentName" /> to newer versions, as described below.</p>
        <p><b>Warning:</b> upgrading from 6.4.x to 7.x will incur service downtime.</p>
        <p><b>Warning</b>: If previous jinja versions are installed on the system, the 2.9.6 install could fail or not be in the default path. Check the jinja version on all machines before upgrading. </p>
        <h2 MadCap:autonum="1.1. &#160;">Important changes in release 7.0 and later</h2>
        <h3 MadCap:autonum="1.1.1 &#160;">Docker version update</h3>
        <p style="text-align: left;">Starting in the <MadCap:variable name="S3 Connector Variables.ComponentName" /> major release 7 and including minor releases 7.x, the system uses a new version of Docker (1.13) that supports online upgrades of the Docker environment itself. This upgrade is managed automatically by the Federation process. However, given that the previous Docker version does not support online upgrades, this will increase the time window during which response code 500s may be returned during the upgrade process. Once the upgrade to 7.0 has finished, this issue will not recur, as all future versions of Docker will support online upgrades.</p>
        <h3 MadCap:autonum="1.1.2 &#160;">New <em>Group ID</em> Variable</h3>
        <p style="text-align: left;">When upgrading to 7.0, the following new variable must be added to the <em>group_vars/all</em> file:</p>
        <p style="text-align: left;"><span class="Variable">env_metadata_replication_group_id</span>
        </p>
        <p style="text-align: left;">Set this variable to an identifier string of 1 to 7 characters that is unique for this deployment. </p>
        <p class="Note" style="text-align: left;">Take care to ensure that the same ID is not used for future deployment elsewhere involved in geo-replication. Also note that once the variable is set it should not be changed.</p>
        <h3 MadCap:autonum="1.1.3 &#160;">New IAM Graphical User Interface</h3>
        <p>A web UI component has been added for managing IAM users. To deploy this new component a new token file must be generated in the environment. To generate the token file, run the following command from the 7.0 folder:</p>
        <p class="codeparatext_lastline_indent_indent_indent">./ansible-playbook -i {{targetEnvironmentDir}}//inventory <br />tooling-playbooks/generate-vault-env-config.yml</p>
        <h3 MadCap:autonum="1.1.4 &#160;">Release 7.x Installer Modifications</h3>
        <p style="text-align: left;">The 7.x installers make the following modifications from 6.x releases:</p>
        <ul MadCap:continue="true">
            <li>
                <p style="text-align: left;">Database paths are changed </p>
                <p style="text-align: left;">from: </p>
                <p class="codeparatext_lastline" style="text-align: left;">{{metadata_container_data_path}}/databases/ip/port</p>
                <p style="text-align: left;">to: </p>
                <p class="codeparatext_lastline" style="text-align: left;">{{metadata_container_data_path}}/databases/raftID</p>
            </li>
            <li>
                <p style="text-align: left;">The format of the data stored internally in the metastore is changed.</p>
            </li>
        </ul>
        <h3 class="noTOC" MadCap:autonum="1.1.5 &#160;">Existing location constraints</h3>
        <p style="text-align: left;">If upgrading to release 7.1 of the <MadCap:variable name="S3 Connector Variables.ComponentName" /> with existing buckets that have locations set (such as <span class="Variable">us-east-1</span>), those locations must be listed in the <span class="Variable">location_constraints</span> section of the <span class="ElementName">group_vars/all</span> file (see <MadCap:xref href="../2_Deployment_Environment/Modifying the Group Variables Template.htm#location_constraints">"location_constraints" on page&#160;1</MadCap:xref>). If this is not done, and a user tries to put an object in one of those buckets (without designating a location at the object level), an error will prevent the PUT object request.</p>
        <p style="text-align: left;">To find out if bucket locations are set up, use the following script (the default bucketd port is 9000):</p>
        <p class="codeparatext_lastline" style="text-align: left;">./venv/bin/list-location-constraints --bucketd {{ BUCKETD_HOST }}:{{ BUCKETD_PORT }}</p>
        <p style="text-align: left;">If the script returns nothing, this means that there are no existing locations.</p>
        <p style="text-align: left;">Sample script output:</p><pre xml:space="preserve">paris<br />     notredame<br />us-east-1<br />     libertystatue
		usa<br />     florida</pre><pre xml:space="preserve">&#160;</pre>
        <p style="text-align: left;">The left column lists the existing location constraints, and the right column lists the bucket in this location.</p>
        <p style="text-align: left;">To find out if an existing bucket has a location constraint, use the GET Bucket Location API request. Refer to the <MadCap:variable name="General.Reference Manual" />.</p>
        <p class="Note" style="text-align: left;">Important: Along with the mandatory "legacy" location that matches your pre-existing sproxyd <i>bootstrap_list</i>, all pre-existing locations listed with the above script must be defined with the same pre-existing <i>bootstrap_list</i>. If not, data will not be retrievable. Please see <MadCap:xref href="../2_Deployment_Environment/Modifying the Group Variables Template.htm#location_constraints">"location_constraints" on page&#160;1.</MadCap:xref></p>
        <h3 MadCap:autonum="1.1.6 &#160;">New group name and user name for installation</h3>
        <p>In 6.4.x and prior versions, the default_user was did not appear in the default group_vars/all.</p>
        <p>From 7.0.0 onwards, this configuration is set by default to scality:scality and is exposed in group_vars/all.</p>
        <p>When upgrading, if you hit permission issues over certain files, check what the uid:gid are for these files: it is likely that it is not scality:scality. In such cases, update your group_vars/all accordingly.</p>
        <p class="Alert" style="text-align: left;">After upgrading to release 7.0, it is not possible to roll back to release 6.4. </p>
        <h2 MadCap:autonum="1.2. &#160;">Performing an Upgrade to 7.1</h2>
        <p class="Alert" style="text-align: left;">Prerequisite: Before performing an upgrade, shut the service down by stopping all S3 containers. This ensures that no backup is triggered during the upgrade. The upgrade process will automatically restart the containers.</p>
        <ol>
            <li>
                <p>From your 6.4.x folder, make sure all nodes are up-to-date with the RING for backups by running:</p><pre xml:space="preserve">./ansible-playbook -i {{targetEnvironmentDir}}/inventory tooling-playbooks/check-status-metadata.yml</pre>
            </li>
            <li>Ensure  that the bseq value is the same for all nodes and that the bseq value is the result of an Euclidian division of vseq/10000. If this is not the case, repeat the operation until bseq has the above-described value.</li>
            <li>
                <p>Stop all containers:</p>
                <p>ansible -i {{targetEnvironmentDir}}/inventory "*" -m shell -a 'docker stop $(docker ps -aq)'</p>
            </li>
            <li>From your 6.4.x folder, reset the RING backup counter: <pre xml:space="preserve">./ansible-playbook -i {{targetEnvironmentDir}}/inventory tooling-playbooks/metadata-reset-bseq.yml</pre></li>
            <li>From your 7.1 folder, update the cluster to 7.1:<pre xml:space="preserve">./ansible-playbook -i {{targetEnvironmentDir}}/inventory tooling-playbooks/run.yml</pre></li>
            <li>From your 7.1 folder, monitor backup regeneration (recommended once per hour)<pre>./ansible-playbook -i {{targetEnvironmentDir}}/inventory tooling-playbooks/check-status-metadata.yml -f 32 -l {{activeGroupsDefinedInInventory}}</pre></li>
            <li>Once all backups are generated, delete the old backups:</li>
        </ol><pre xml:space="preserve"># Delete backups of the Bucket clusters (With legacy cos 0x70)
			docker run --net=host -v ${FEDERATION_ENV_HOST_DATA_PATH}/scality-metadata-bucket/conf:/conf:ro scality/metadata:$MY_S3CONNECTOR_VERSION node tools/checkBackup --upgrade --delete --cos 70
			# Delete backups of the Bucket clusters (With cos 0x20)
			docker run --net=host -v ${FEDERATION_ENV_HOST_DATA_PATH}/scality-metadata-bucket/conf:/conf:ro scality/metadata:$MY_S3CONNECTOR_VERSION node tools/checkBackup --upgrade --delete --cos 20

			# Delete backups of the vault cluster (With legacy cos 0x70)
			docker run --net=host -v ${FEDERATION_ENV_HOST_DATA_PATH}/scality-metadata-vault/conf:/conf:ro scality/metadata:$MY_S3CONNECTOR_VERSION node tools/checkBackup --upgrade --delete  --cos 70
			# Delete backups of the vault cluster (With cos 0x20)
		docker run --net=host -v ${FEDERATION_ENV_HOST_DATA_PATH}/scality-metadata-vault/conf:/conf:ro scality/metadata:$MY_S3CONNECTOR_VERSION node tools/checkBackup --upgrade --delete --cos 20</pre>
    </body>
</html>