﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="266" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Migrating the Vault Keyfile</h1>
        <p>In <MadCap:variable name="S3 Connector Variables.ComponentName" /> the first version of S3 Connector the Vault encryption key is stored in {{pathTov6.2InventoryFile}}/vault/keyfile, whereas in version 6.2 the key is stored in  {{pathTov6.2InventoryFile}}/vault/keyfile.yml (refer to ./env/client-template/vault/keyfile.yml for an example of the format).</p>
        <ol>
            <li>Confirm that the {{pathTov6.2InventoryFile}}/vault/keyfile.yml file is not present.</li>
            <li>Run the following Ansible playbook to reformat {{pathTov6.2InventoryFile}}/vault/keyfile into {{pathTov6.2InventoryFile}}/vault/keyfile.yml.</li>
            <li class="codeparatext_list_indent">ansible-playbook -i {{pathTov6.2InventoryFile}}/inventory ./tooling-playbooks/migration/vault-encryption-key-from-flat-file-to-yaml-file.yml</li>
            <li>Erase or backup {{pathTov6.2InventoryFile}}/vault/keyfile.</li>
        </ol>
    </body>
</html>