﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="671" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Preparing the Target Environment</h1>
        <p><b>Ansible:</b> For the Federation <MadCap:variable name="S3 Connector Variables.ComponentName" /> deployment, you must install Ansible 2.0 on the deployment server. </p>
        <ul>
            <li>For RHEL/CentOS, the Ansible package is included in the Epel repository. <ul><li>On RHEL/CentOS&#160;6, declare the EPEL repository with this command:<br /><code>rpm -Uvh https://dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm</code><br /></li><li>On RHEL/CentOS&#160;7, declare the EPEL repository with this command:<br /><code>rpm -Uvh https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm</code><br /></li></ul></li>
            <li>For Ubuntu, Ansible is available in the Personal Package Archive (PPA). Declare the PPA for the Ansible package as follows:<br /><code>sudo add-apt-repository ppa:ansible/ansible<br />sudo apt-get update</code><br /><br />Otherwise, you can add the PPA to your system manually by copying the lines below and including them in your system's software sources:<br /><code>deb http://ppa.launchpad.net/ansible/ansible/ubuntu trusty main</code><br /><code>deb-src http://ppa.launchpad.net/ansible/ansible/ubuntu trusty main</code><br />You will need a signing key (<code>4096R/7BB9C367</code>) and a "fingerprint" (<code>6125E2A8C77F2818FB7BD15B93C4A3FD7BB9C367</code>)<br /></li>
        </ul>
        <p><b>Template files:</b> It is best to extract the Federation tar archive file directly to the deployment server, under a directory with a name that you want to use for your <MadCap:variable name="S3 Connector Variables.ComponentName" /> environment. </p>
        <p>However, if you extract the Federation tar archive file to a different server, you can copy the inventory and varibles templates to modify to the deployment server after you extract the tar archive&#160;file. First, create a directory under <cite>/env</cite> on the deployment machine, providing it with a name that will represent the deployment environment. Then, copy the templates as follows, replacing {{targetEnvironmentName}} with the name of the directory that you added:</p>
        <p class="codeparatext_lastline">cp -r env/client-template env/{{targetEnvironmentName}}</p>
    </body>
</html>