﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="870" MadCap:lastWidth="1104">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Offline Installation</h1>
        <p style="text-align: left;">The S3 Connector can be deployed in an offline installation without internet connectivity. This is the most common deployment for many customers and data centers where network security is a concern or is controlled. The offline installation and deployment mode uses Ansible and is driven from the Inventory files described earlier.</p>
        <ol>
            <li>Install the Scality RING (5.1.x, 6.x or later) first on a minimum of six storage servers (for single site) or a minimum of 12 servers (for 2-site and 3-site stretched configurations). The stretched configurations require 12 or more servers to function properly with active and warm-standby metadata servers.</li>
            <li style="text-align: left;">Select the machine to act as the deployment server (typically, this is the Supervisor machine). See <MadCap:xref href="../2_Deployment_Environment/Setting Up the Deployment Machine.htm">"Setting Up the Deployment Machine" on page&#160;1</MadCap:xref>.</li>
            <li style="text-align: left;">Select five or more RING storage servers to serve as the S3 Connector deployment targets.</li>
            <li>Download and extract the S3 Connector tar archive file to a designated directory on the deployment server.</li>
            <li class="codeparatext_li_lastline">tar jxvf s3-offline-&lt;version&gt;.tar.bz2</li>
            <li class="paraunder">Go to the designated directory and run this command:</li>
            <li class="codeparatext_li_lastline">cd s3-offline-&lt;version&gt;/federation </li>
            <li style="text-align: left;"><a href="../2_Deployment_Environment/Modifying the Inventory File Template.htm" title="Modifying the Inventory File Template" alt="Modifying the Inventory File Template">Modify the Inventory File template</a>.</li>
            <li style="text-align: left;"><a href="../2_Deployment_Environment/Modifying the Group Variables Template.htm" title="Modifying the Global Variables template" alt="Modifying the Global Variables template">Modify the Global Variables template</a>.</li>
            <li style="text-align: left;">Configure the S3 Vault environment. (For new deployments) </li>
            <li class="codeparatext_li_lastline">./ansible-playbook -i {{targetEnvironmentDir}}//inventory tooling-playbooks/generate-vault-env-config.yml</li>
            <li>Deploy the S3 Connectors and associated components. </li>
            <li class="codeparatext_li_lastline">./ansible-playbook -i {{targetEnvironmentDir}}/inventory run.yml </li>
            <li style="text-align: left;">Set up account users, groups, and access keys for users and groups, and the policies to attach to users and groups. Refer to the <span class="PublicationName"><MadCap:variable name="General.Operations Guide"></MadCap:variable></span> for details. (For new deployment only, not for upgrade.) </li>
            <li class="paraunder">For accounts run this command to generate an access key and the s3cfg file needed for AWS CLI:</li>
            <li class="codeparatext_li_lastline">./ansible-playbook -i ./env/{{targetEnvironmentDir}}/inventory  -e 's3cfg_file=/tmp/{{s3cfigFileName}} account_name={{accountName}} account_email={{accountEmailAddress}}' <br />tooling-playbooks/generate-account-access-key.yml --become</li>
            <li class="paraunder">For users, groups, policies, and access keys refer to <a href="https://aws.amazon.com/cli/">AWS Command Line Interface</a> and <a href="http://docs.aws.amazon.com/cli/latest/reference/iam/index.html">AWS Identity and Access Management. </a></li>
            <li class="paraunder">The AWS Command Line Tool is available in the extracted offline archive as:</li>
            <li class="codeparatext_li_lastline">s3-offline-&lt;version&gt;/repo/venv/bin/aws</li>
            <li style="text-align: left;">Start sending data to the S3 Connectors. Refer to the <span class="PublicationName"><MadCap:variable name="General.Reference Manual"></MadCap:variable></span> for details.</li>
        </ol>
    </body>
</html>